.well
  .row
    .col-md-3.text-center
      = image_tag product.picture_url(:thumb)
    .col-md-6
      %h4= product.name
    .col-md-3
      = form_for order_item, remote: true do |f|
        %h4.text-right
          Цена:
          %span{:style => "color: green"}= number_to_currency product.price
        .input-group
          = f.number_field :quantity, value: 1, class: "form-control", min: 1
          .input-group-btn
            = f.hidden_field :product_id, value: product.id
            = f.submit "Купить", class: "btn btn-primary"
